apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # App of Apps Application
  - application.yaml

  # Cluster-level infrastructure components
  - cert-manager/argocd/cert-manager.yaml
  - cert-manager/argocd/cert-manager-issuers.yaml
  - external-secrets/argocd/external-secrets.yaml
  - ingress-nginx/argocd/ingress-nginx.yaml
  - ingress-nginx/ingress.yaml
  - reloader/argocd/reloader.yaml
  - vault/argocd/vault.yaml
  - vault/argocd/vault-secrets.yaml

  # New infrastructure components
  - velero/argocd/velero.yaml
  - velero
  - falco/argocd/falco.yaml
  - cnpg/argocd/cnpg.yaml
  - haproxy/argocd/haproxy.yaml
  - metallb/argocd/metallb.yaml
  - metallb
