apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # App of Apps Application
  - application.yaml
  - cert-manager/argocd.yaml
  - external-secrets/argocd.yaml
  - vault/argocd.yaml
  - velero/argocd.yaml
  - falco/argocd.yaml
  - cnpg/argocd.yaml
  - vpa/argocd.yaml
  - traefik/argocd.yaml
  - authentik/argocd.yaml

  # ArgoCD configuration (no Application, just configuration)
  - argocd
